<div class="col-md-3">
  <div class="box box-pullout">
    <h3>A service</h3>
    <img src="images/pullout-an-mot-for-your-boiler.png" alt="">
    <ul>
      <li>Boiler fired to check faults</li>
      <li>Casing removed, components cleaned and checked</li>
      <li>Flue Test to ensure that your boiler's emissions are safe</li>
    </ul>
    <button class="btn btn-primary">Find Out More</button>
  </div>
</div>
