<div class="box">
  <div class="row">
    <div class="col-md-6">
      <div class="box-content">
        <h3>High Quality, Trusted & Great Value.</h3>
        <div>
          <p>Safegas has a great range of high quality boilers with expert installation at a reasonable price. We are Worcester Bosch accredited and look to make choosing and installing a new boiler a much easier and more efficient process. We also have some fantastic special offers such as our new Heating for Life package.</p>
          <p>Choose Safegas for your Leeds Boiler Installation or Yorkshire Boiler Installation.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <img src="images/content1.png" alt="" class="img-responsive">
    </div>
  </div>
</div>
