<div class="row">
  <div class="col-sm-12">

    <div class="box">
      <h1 class="title title-light title-top-left">Who are we?</h1>

      <!-- we don't really need width="1140", but the image is smaller -->
      <img width="1140" src="images/content1.png" alt="Who are we?" class="img-responsive">

      <div class="box-content">
        <h3>How can we help you?</h3>
        <div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dictum laoreet vulputate. Sed sollicitudin metus vitae augue condimentum aliquam. Donec malesuada lorem eu leo fermentum porttitor. Vivamus metus elit, viverra non sapien et, cursus pellentesque ipsum.</p>
        </div>
        <button class="btn btn-primary">Learn More</button>
      </div>

    </div><!--/.box-->
  </div>
</div>
