<div class="row">
  <div class="col-md-12">
    <div class="box box-content">
      <h3>What Type of Boiler Do I Need?</h3>
      <div>
        <p>The best boiler for you will depend on what kind of home you have and what you want the boiler to do, as well as the kind of lifestyle that you lead.</p>

        <p>There are three different types of boilers:</p>

        <ul>
          <li><b>A combi boiler</b> – this boiler is extremely popular as it is small and compact but contains both a high-efficiency water heater and a central heating boiler in one.
          Great for: hot water on tap and homes with little space, and little or no roof or loft space.</li>

          <li><b>A regular boiler</b> – this 'conventional' boiler directly heats the central system and produces hot water for the hot water cylinder that is fed by a cold water cylinder, often located in the loft.
          Great for: homes where mains water pressure is low, homes with 2 or more bathrooms.</li>

          <li><b>A system boiler</b> – this is similar to a regular boiler except that it has no feed and expansion cistern and so is more economical and will warm up the central heating system faster.
          Great for: homes where mains water pressure is low, upgrading from a 'conventional' boiler, homes with 2 or more bathrooms.</li>
        </ul>
        <p>For more information or for advice on the best type of boiler for you contact one of our experts.</p>

        <p>Safegas is the place to go for your Leeds Boiler Installation or Yorkshire Boiler Installation. Get your boiler quote online to get an indicative price and see what great value Safegas can offer.</p>
      </div>
    </div>
  </div>
</div>
