<div class="row">
  <div class="col-sm-12">

    <div class="box">
      <!-- we don't really need width="1140", but the image is smaller -->
      <img width="1140" src="images/content1.png" alt="Who are we?" class="img-responsive">
      <div class="box-content">
        <div class="row">
          <div class="col-sm-3">
            <div class="content-centered">
              <img src="images/magnify.png" alt="">
            </div>
          </div>
          <div class="col-sm-9">
            <h3>20 Years of Experience</h3>
            <div>
              <p class="lead">Suspendisse non convallis mi. Aliquam vulputate nunc bibendum lectus adipiscing, in imperdiet orci vestibulum. Phasellus adipiscing lorem at odio tincidunt, in gravida eros feugiat. Integer.</p>
            </div>
            <button class="btn btn-primary">Apply Online</button>
          </div>
        </div>
      </div>
    </div><!--/.box-->
  </div>
</div>
