<div class="col-sm-6">
  <div class="box box-content">
    <h3>Radiator upgrade? We can help.</h3>
    <div>
      <p>Sed sollicitudin metus vitae augue condimentum aliquam. Donec malesuada lorem eu leo fermentum porttitor. Vivamus metus elit, viverra non sapien et, cursus pellentesque ipsum.</p>
    </div>
    <button class="btn btn-primary">Book Now</button>
  </div>
</div>
