<div id="footer">
  <div class="container">
    
    <div class="row">

      <div class="col-sm-3">
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">About Quality Heating Service</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Cookies on our Site</a></li>
        </ul>
      </div>

      <div class="col-sm-3">
        <ul>
          <li><a href="#">Installations</a></li>
          <li><a href="#">Get a Boiler Quote Online</a></li>
          <li><a href="#">Finance Offers</a></li>
          <li><a href="#">Repair</a></li>
          <li><a href="#">Book a Repair Online</a></li>
          <li><a href="#">Landlords</a></li>
          <li><a href="#">CP12</a></li>
          <li><a href="#">Landlord Pack</a></li>
        </ul>
      </div>

      <div class="col-sm-3">
        <ul>
          <li><a href="#">Commercial</a></li>
          <li><a href="#">Link to Old Site</a></li>
          <li><a href="#">Servicing</a></li>
          <li><a href="#">Boiler Service</a></li>
          <li><a href="#">Appliance Service</a></li>
          <li><a href="#">Powerflush</a></li>
        </ul>
      </div>

      <div class="col-sm-3">
        <ul>
          <li><a href="#">Q & A</a></li>
          <li><a href="#">Frequently Asked Questions</a></li>
          <li><a href="#">Appointment Tracker</a></li>
          <li><a href="#">Engineer Location Update</a></li>
        </ul>

        <h5>Follow Us</h5>
        <div class="social-links clearfix">
          <a class="facebook" href="#">Facebook</a>
          <a class="twitter" href="#">Twitter</a>
          <a class="googleplus" href="#">Google+</a>
        </div>
      </div>

    </div><!--/.row-->

  </div><!--/.container-->
</div><!--/#footer-->
