<div class="jumbotron">
  <div class="container">
    <div class="page-header">
      <h1>Our Servicing Plans</h1>
    </div>
    <h2>We are an award winning heating installation, maintenance and repairs provider with more than 15 years experience.</h2>
  </div><!--/.container-->
</div>
