<div class="jumbotron">
  <div class="container">
    <div class="page-header">
      <h1>About</h1>
    </div>
    <h2>With almost 20 years of experience behind us 
    we pride ourselves on our expert knowledge and highest levels of customer service.</h2>
  </div><!--/.container-->
</div>
